        body {
            background: #f0f0f0;
            width: 100%;
            height: 100%;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        article {
            background: #c27115;
            position: absolute;
            top: 100px;
            left: 100px;
            width: 85%;
            height: auto;
        }
        h1 {
            text-align: center;
            font: 20px monospace;
        }
        .field, #new {
            margin: 10px;
            padding: 10px;
            display: block;
            background-color: #d1732f;
            width: auto;
            height: auto;
        }
        label { font: bold 20px monospace; }
        section { align-content: center; }
        input[type=text], input[type=number], select {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #e18038;
            font-size: 16px;
            background-color: #ffffff;
            padding: 10px;
            resize: none;
        }
        #button1, #button2, #button3, #button4, #button5, #button6, #buttonnew {
            background-color: #e14a36;
            font-size: 16px;
            padding: 16px 32px;
            margin: 4px 2px;
            cursor: pointer;
        }
        #button1, #button2, #button3, #button4, #button5, #button6:hover {
            background-color: #ee7e2e;
            color: white;
        }
        table {
            width: 100%;
            border: 2px solid #e86100;
        }
        td { padding: 5px; }
        header {
            flex: 100%;
            background: #cc3434;
            opacity: 0.7;
            width: 30%;
            height: 50px;
        }
        .cop {
            font: bolde 26px "Monotype Corsiva";
            color: #ffffff;
            position: absolute;
            left: 500px;
            right: 30px;
            width: 300px;
        }
        h1 { font: bold 22px Sylfaen; }
        #new { display: none; }